---
layout: default
---

<div class="home-page">
  <img class="photo" src="https://avatars1.githubusercontent.com/u/64925038?s=400&u=d421d2dd876e6e6f82c768f9a3e3b803e228b05f&v=4" height="150" >
  <h2>{{ site.title }}</h2>
  <p>4 Year Undergraduate Student at <a href="http://www.iitkgp.ac.in/" style="color: #d82828">IIT KHARAGPUR</a></p>

  <p class="work">
    <a href="/apps" >
      <span>{% include icons/app.svg %}</span>
      Projects</a> |
    <a href="Resume.pdf" >
      <span>{% include icons/blog.svg %}</span>
      CV</a> |   
    <a target="_blank" href="{{ site.link_to.github }}">
      <span>{% include icons/github.svg %}</span>Github
    </a> |
    <a target="_blank" href="{{ site.link_to.cocoa_all_pods }}">
      <span>{% include icons/cocoapods.svg %}</span>Blog
    </a>
  </p>  
  <p class="social">
    <a href="{{ site.link_to.twitter }}">
      <span>{% include icons/twitter.svg %}</span>
    </a>
    <a href="{{ site.link_to.facebook }}">
      <span>{% include icons/facebook.svg %}</span>
    </a>
    <a href="{{ site.link_to.linkedin }}">
      <span>{% include icons/linkedin.svg %}</span>
    </a>
    <a href="https://stackoverflow.com/users/1311902/kaunteya">
      <span>{% include icons/stackoverflow.svg %}</span>
    </a>
  </p>
</div>
